
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family:  'Nunito Sans', sans-serif; 

}

img {
    max-width: 100%;
    height: auto;
}

:root{
  --bg-color: #dcd6e7;
  --snd-bg-color: rgb(69, 56, 94);
  --text-color: rgb(167, 160, 184);
  --main-color: #5b5174;
  --text-color2: rgb(30, 24, 43);
}

html{
  font-size: 60,5% ;
  overflow-x: hidden;

}


body{
  background-color: var(--bg-color) ;
  color: var(--text-color);

}

section{
  max-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 2.5rem;
  color: var(--snd-bg-color);
  font-weight: 700;
  cursor: default;
}

.navbar a{
  font-size: 1.5rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 700;
}

.navbar a:hover, .navbar a.active {
  color: var(--snd-bg-color);
}

#menu-icon{
  font-size: 3.6rem;
   color: var(--text-color);
   display: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.home-content h3{
  font-size: 2.2em;
  font-weight: 700;
  text-align: center;
}

.home-content h3:nth-of-type(2){
  margin-bottom: 2rem;

}

span{
  color: var(--main-color) ;
}

.home-content h2{
  font-size: 5.7em;
  font-weight: 700;
  line-height: 1.3;
} 

.home-img img{
  width: 23vw;
  animation: floatImage 4s ease-in-out infinite;
  
}

.home-img{
  margin-left: 50px;
}

@keyframes floatImage {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-1.4rem);
  }
  100%{
    transform: translateY(0);
  }
}

.social-media a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 20%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: .5s ease;
 
}

.social-media a:hover{
  background: var(--main-color);
  color: var(--snd-bg-color);
  box-shadow:  0 0 1rem  var(--main-color);
}

.social-media{
  text-align: center;
}

.about{
  align-items: center;
  padding: 2.5rem 0;
  margin-bottom: 2.5rem ;
  background: var(--snd-bg-color);
  height: 60vh;
}

.headling{
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 1.6rem;
}

.about-content {
  border: 2px solid var(--main-color);
  border-radius: 16px; 
  box-shadow: 0 0 20px rgba(161, 155, 155, 0.2); 
  padding: 3rem ;
  max-width: 1050px;
  margin: 0 auto;
}

.about-content h3 {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 1rem; 
  text-align: center;
}

.about-content p {
  font-size: 1.4em;
  line-height: 1.6;
}

.projects{
  height: 60vh;
  padding: 2rem 0;
  background: var(--bg-color);
  margin-top: -20px;
}



.project-1{
  display: flex;
  border: 2px solid var(--text-color);
  border-radius: 16px; 
  box-shadow: 0 0 20px rgba(48, 46, 46, 0.2); 
  padding: 3rem ;
  max-width: 1050px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.icon{
    font-size: 30px;
    color: var(--main-color);
}

.name-project{
  color: var(--text-color2);
  transition: color 0.3s;
  text-decoration: underline; 
}

.home-img{
  margin-left: 50px;
}

.tecnologies{
  text-align: center;
  padding: 2rem;
  padding: 40px;

}

.tecnologies h2{
  font-size: 35px;
  margin-bottom: 15px;
}

.node-icon {
  font-size: 55px;
  color:#389950;
  margin-bottom: 50px;
}

.react-icon{
  width: 40px;
}

#contact{
  background-color: var(--snd-bg-color);
  height: 45vh;
}

#contact h2 {
  text-align: center;
  font-size: 35px;
   margin-top: -107px

}

#contact p {
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
}


.contact-icons{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--text-color);
    border-radius: 16px; 
    box-shadow: 0 0 20px rgba(48, 46, 46, 0.2); 
    padding: 3rem ;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.icon-contact {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
  font-size: 22px;
}


.text{
  margin-left: 10px;
}

.footer{
  background-color: var(--bg-color);
  height: 5vh;
}

.footer-text{
  text-align: center;
  font-size: 25px;
  color: var(--main-color);
  margin-top: 15px;
}


/*BREAKPOINT*/

@media (max-width:1200px){
    html{
      font-size: 55%;
    }
}

@media (max-width:991px){
    .header{
      padding: 2rem 3%;
    }

    section{
      padding: 10rem 3%;
    }


}

@media only screen and (max-width: 768px) {
    /* Estilos para pantallas más pequeñas aquí */
    body {
        font-size: 14px; /* Ajusta el tamaño de fuente para dispositivos pequeños */
    }

    .header {
        padding: 1.5rem 5%; /* Ajusta el espaciado en la barra de navegación para dispositivos pequeños */
    }

    .navbar a {
        margin-left: 2rem; /* Ajusta el espacio entre los elementos del menú */
    }

    #menu-icon {
        display: block; /* Muestra el ícono del menú en dispositivos pequeños */
        text-align: right;
    }

     .navbar a {
        display: none; 
    
    }
}

@media only screen and (min-width: 768px) {
    #menu-icon {
        display: none; 
    }

    
}
